/*Common Start */
body{
	font-family: ;
	font-size: 16px;
	font-weight: 400;
	color:#0f2656 ;
}
/*Common End */

/*Header Start*/
header{
}

.container {
}

.logo {
}

.logo img{
}

.menu {
}

.menu ul{
}

.menu ul li{
}

.menu ul li a {
}

/*Header End*/